@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

:root {
    --header-height: 145px;
    --logo-height: 70px;

    --nav-link-underline-width: 80%;
    --nav-link-underline-height: 5px;

    --base-color: #CDD4D9;
    --primary-color: #100800;
    --secondary-color-light: rgb(181, 123, 40);
    --secondary-color-dark: rgb(90, 57, 25);
    --text-color: white;
  }

/* Global styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--base-color);
}

/* NavBar.css */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  min-width: 1000px;
  height: var(--header-height);
  background: var(--primary-color);
  padding: 0 100px;
}

.logo {
  height: var(--logo-height);
}

.nav-item {
  display: inline-flex;
}

.nav-link {
  text-decoration: none;
  font-size: 30px;
  color: var(--text-color);
  transition: all 0.3s ease 0s;
  height: var(--header-height);
  width: 200px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.nav-link::before,
.active::before {
  background-image: -moz-linear-gradient(left, var(--secondary-color-dark), var(--secondary-color-light));
  position: absolute;
  content: "";
  bottom: 0px;
  left: calc(var(--nav-link-underline-width) / 2);
  transform: translateX(calc(var(--nav-link-underline-width) / 2 *-1));
  height: var(--nav-link-underline-height);
  width: 0;
  transition: all 0.25s ease 0s;
}

.nav-link:hover::before {
  width: var(--nav-link-underline-width);
}

.active::before {
  width: var(--nav-link-underline-width);
}

/* Content wrapper for each view*/
.content-wrapper {
  margin-top: var(--header-height); /*top margin set due to fixed position of the header*/
}


/* SearchBar.css */
.search-bar-container {
  position: fixed;
  top: calc(var(--header-height));
  width: 100%;
  height: 200px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar-input {
  width: 60%;
  height: 70px;
  margin-left: 10px;
  border: 3px solid var(--secondary-color-dark);
  border-radius: 25px;
  padding-left: 20px;
  font-size: 20px;
}

.search-bar-input:hover {
  border-color: var(--secondary-color-light);
}

.search-bar-input:focus {
  border-color: var(--secondary-color-light);
  outline: none;
}

.search-bar-input:focus::placeholder {
  color: transparent;
}

.search-bar-label {
  font-size: 20px;
}


/* UserList.css */
.user-list-container {
  margin-top: 500px;
}
